<ion-header [translucent]="true">

  <ion-toolbar>
    <div class="header-tabs">

      <ion-button [routerLink]="['/title-page']" color="secondary" aria-label="Return to title">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>

      <ion-title>
        Sign Up Page
      </ion-title>

    </div>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <div class = "centro">

    <ion-text>
      <h1>
        Crea una cuenta
      </h1>
      <br>
        Ingresa tu información para crear una cuenta Renty
      <br>
    </ion-text>

    <ion-button
      [routerLink]="['/login-page']"
      color="secondary"
    >
      ¿Ya tienes una cuenta?
    </ion-button>

    <ion-text>
      <br>
    </ion-text>

    <form [formGroup]="signupForm" (ngSubmit)="SignupValidation()" class="formStyle">

      <ion-item lines="none">
        <ion-input
          type="text"
          formControlName="name"
          placeholder="Nombre Apellido"
          label="Nombre"
          labelPlacement="stacked"
          [errorText]="formError('name')"
          required
        >
        </ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input
          type="text"
          formControlName="run"
          placeholder="12345678-9"
          label="R.U.N. (sin puntos, con guión)"
          labelPlacement="stacked"
          [errorText]="formError('run')"
          required
        >
        </ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input
          type="email"
          formControlName="email"
          placeholder="ejemplo@dominio.com"
          label="E-mail"
          labelPlacement="stacked"
          [errorText]="formError('email')"
          required
        >
        </ion-input>
      </ion-item>
      
      <ion-item lines="none">
        <ion-input
          type="password"
          formControlName="password"
          placeholder="pAsSwoRD123"
          label="Contraseña"
          labelPlacement="stacked"
          [errorText]="formError('password')"
          required
        >
        </ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input
          type="password"
          formControlName="passwordConfirm"
          placeholder="Repite la contraseña"
          label="Confirmar Contraseña"
          labelPlacement="stacked"
          [errorText]="formError('passwordConfirm')"
          required
        >
        </ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-select
          formControlName="region"
          labelPlacement="stacked"
          placeholder="Seleccionar región"
          okText="Seleccionar"
          cancelText="Cancelar"
          (ionChange)="onRegionChange()"
        >
          <div slot="label">Región</div>
    
          <ion-select-option
            *ngFor="let region of regiones"
            [value]="region.numero">
            {{region.nombre}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="full">
        <ion-select
          formControlName="comuna"
          labelPlacement="stacked"
          placeholder="Seleccionar comuna"
          okText="Seleccionar"
          cancelText="Cancelar"
        >
          <div slot="label">Comuna</div>
          
          <ion-select-option
            *ngFor="let comuna of comunas"
            [value]="comuna"
          >
            {{comuna}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="ion-margin-vertical" lines="none">
        <ion-toggle formControlName="tyc" labelPlacement="start" color="primary">
          Acepto los términos y condiciones que aplican
        </ion-toggle>
      </ion-item>

      <ion-button
        type="submit"
        expand="block"
        [color]="btnColor"
        [disabled]="!signupForm.valid"
        [routerLink]="['/tabs/tab1']"
        >
        {{btnText}}
      </ion-button>

    </form>
  </div>
</ion-content>