<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calendario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="centro">
  
    <ion-datetime
      locale="es-LA"
      [firstDayOfWeek]="1"
      presentation="date"
      [highlightedDates]="highlightedDates"
      
    >
      <span slot="title">Selecciona un día</span>
      <span slot="time-label">Tiempo</span>
    </ion-datetime>

    <ion-button [routerLink]="['/date-details-page']" color="primary">Ver detalles del día</ion-button>

  </div>
  
</ion-content>
