<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button [routerLink]="['/settings-page']" color="secondary" aria-label="Configuración" slot="end">
      <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
    </ion-button>
    <ion-title>
      Calendario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="centro">
  
    <ion-datetime
      #datetime
      locale="es-LA"
      [firstDayOfWeek]="1"
      presentation="date"
      [highlightedDates]="highlightedDates"
      (ionChange)="onSelectDate($event)"
    >
      <span slot="title">Selecciona un día</span>
      <span slot="time-label">Tiempo</span>
      <ion-buttons slot="buttons">
        <ion-button [routerLink]="['/date-details-page']" color="primary" (click)="datetime.confirm()">Ver detalles del día</ion-button>
      </ion-buttons>
    </ion-datetime>


  </div>
  
</ion-content>
