<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button [routerLink]="['/settings-page']" color="secondary" aria-label="Configuración" slot="end">
      <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
    </ion-button>
    <ion-title>
      Resumen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="centro">
    <ion-toolbar>
      <!-- Graph -->
      <ion-item>
        <img src="../../assets/images/pie-chart.png" width="50%" height="auto">
      </ion-item>
      <!-- Percentages -->
      <ion-item>
        
        <ion-list>
          <ion-item>
            <ion-text color="success">
              79% Pagado
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-text color="warning">
              12% Medio Pagado
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-text color="danger">
              9% Por Pagar
            </ion-text>
          </ion-item>
        </ion-list>
        
      </ion-item>
    </ion-toolbar>
  </div>

</ion-content>
