<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class = "centro">
    <ion-text color="primary">
      <h1>Bienvenido a</h1>
    </ion-text>
    <img src="../../assets/images/Renty Logo tm.png" class="logo">
    <ion-text>
      <br>
      <br>
      <br>
      <br>
      <br>
      Por favor inicia sesión.
    </ion-text>
    <ion-button [routerLink]="['/login-page']" color="primary">Iniciar Sesión</ion-button>
    <ion-text color="secondary"><br>O si aún no tienes una cuenta, puedes crear una.</ion-text>
    <ion-button [routerLink]="['/signup-page']" color="secondary">Crear Cuenta</ion-button>
  </div>
</ion-content>
