<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-tabs">

      <ion-button [routerLink]="['/tabs/tab3']" color="secondary" aria-label="Volver">
        <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
      </ion-button>

      <ion-title>
        Detalles
      </ion-title>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- no olvidarse de hacer el if para que si tarda en leer no mande error -->
  <div>
    <ion-list lines="none">
      <!-- esto debería ser un for, leyendo desde la base de datos-->
      <ion-item>
        <ion-toolbar>

          <ion-title>
            [Nombre del arriendo]
          </ion-title>
          
          <ion-button
            id="open-edit-modal"
            color="secondary"
            aria-label="Editar cobro"
            slot="primary"
          >
            <ion-icon name="create-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-toolbar>
      </ion-item>

      <ion-item>
        <ion-toolbar>
          <ion-text>
            [La nota del usuario (el texto, no una calificación)]
          </ion-text>  
        </ion-toolbar>  
      </ion-item>  

    </ion-list>

    <ion-title>
      Histórico
    </ion-title>  
    
    <ion-grid>
      <ion-row class="ion-align-items-center">

        <ion-col>
          <img src="../../assets/images/Detalle Chart.png" width="50%" height="auto">
        </ion-col>

        <ion-col>
          <ion-item lines="none">
            <ion-text color="success">
              [pagado]% Pagado
            </ion-text>
          </ion-item>
          <ion-item lines="none">
            <ion-text color="warning">
              [medPag]% Medio pagado
            </ion-text>
          </ion-item>
          <ion-item lines="none">
            <ion-text color="danger">
              [deuda]% Deuda
            </ion-text>
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-list lines="none">

      <ion-toolbar>
        <ion-title>
          Boletas?
        </ion-title>
      </ion-toolbar>

      <ion-toolbar>
        <ion-item>
          <ion-text>
            Crear Boleta
          </ion-text>
        </ion-item>

        <ion-button
          color="success"
          aria-label="Editar cobro"
          slot="primary"
          >
          <ion-icon name="add-outline" slot="icon-only"></ion-icon>
        </ion-button>

      </ion-toolbar>

      <ion-toolbar>

        <ion-button (click)="prevBoleta" color="tertiary" aria-label="Previa" slot="start">
          <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
        </ion-button>

        <ion-item>
          <ion-text>
            [Fecha]
          </ion-text>
        </ion-item>

        <ion-button (click)="nextBoleta" color="tertiary" aria-label="Siguiente" slot="end">
          <ion-icon name="chevron-forward-outline" slot="icon-only"></ion-icon>
        </ion-button>
        
      </ion-toolbar>

      <ion-item>
        <ion-text>
          Pagado: [PagadoDetalle] / [DeudaDetalle]
        </ion-text>
      </ion-item>
    </ion-list>
    
  </div>

  <ion-modal
  trigger="open-modal"
  (willDismiss)="onWillDismissEdit($event)"
   >
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancelCreate()">{{ textCancel }}</ion-button>
        </ion-buttons>
        <ion-title>{{ textTitulo }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirmCreate()" [strong]="true" color="primary">{{ textConfirm }}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-input
          label="Nombre"
          labelPlacement="stacked"
          type="text"
          placeholder="get"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Costo ($)"
          labelPlacement="stacked"
          type="number"
          placeholder="49990"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-toggle labelPlacement="start" color="primary">
          Repetitivo
        </ion-toggle>
      </ion-item>
    </ion-content>
  </ng-template>
  </ion-modal>
</ion-content>
