<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Página Arriendos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
  <div *ngIf="arriendos">
    <ion-list lines="full">
      <ion-item *ngFor="let arriendo of arriendos.arriendos">
        <ion-toolbar>

          <ion-title>
            {{ arriendo.nombre }}
          </ion-title>

          <ion-button slot="secondary">
            <ion-text>
              {{ arriendo.estado }}
            </ion-text>
          </ion-button>
          
          <ion-button
            [routerLink]="['/title-page']"
            color="secondary"
            aria-label="Ver detalles"
            slot="primary"
          >
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
        </ion-toolbar>
      
      </ion-item>
    </ion-list>
  </div>

</ion-content>
